p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.exercisebox {
  padding: 1em;
  background: #ACE3EE;
  color: black;
  border: 1px #cacdca;
  border-radius: 10px;
}
.taskbox {
  padding: 1em;
  background: #DFEEAC;
  color: black;
  border: 1px #cacdca;
  border-radius: 10px;
}
.notebox {
  padding: 1em;
  background: #F5CBA7 ;
  color: black;
  border: 1px #cacdca;
  border-radius: 10px;
}
.center {
  text-align: center;
}
